// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
@import '~sweetalert2/src/sweetalert2';
@import "~summernote/src/styles/summernote-bs4";

.nav-tabs {
  .nav-link {
    background: #f6f8fa;
    color: #000000;
    border-radius: 0;
    border: 1px solid #ebedf2;
    padding: .75rem 1.5rem;
  }

  .nav-item:first-child .nav-link {
    border-radius: 4px 0 0 0;
  }

  .nav-item:last-child .nav-link {
    border-radius: 0 4px 0 0;
  }
}