// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

// card
.container {
    @apply  mx-auto;
}

.course-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@tailwind components;

@tailwind utilities;

@import "~video.js/src/css/vjs-cdn";

.container {
    min-height: calc(100vh - 160px - 66px);
}
