<template>
    <table class="table table-striped">
        <thead>
            <slot name="thead"></slot>
        </thead>
        <draggable v-model="items" tag="tbody" @end="onEnd">
            <slot name="tbody"></slot>
        </draggable>
    </table>
</template>

<script>
    import draggable from "vuedraggable";

    export default {
        props: ['list'],

        components: {
            draggable
        },

        data() {
            return {
                items: []
            }
        },

        watch: {
            list(newValue) {
                this.items = newValue
            }
        },

        methods: {
            onEnd() {
                this.$emit('update:list', this.items);
            }
        }
    }
</script>
