<template>
    <textarea class="form-control summernote"
              id="summary"
              ref="textarea"
              :value="value"
    ></textarea>
</template>

<script>
    import 'summernote/dist/summernote-bs4'
    import 'summernote/lang/summernote-zh-TW';

    export default {
        name: "SummernoteTextarea",
        props: {
            value: {
                required: false,
                type: String,
                default: '',
            },
            height: {
                type: Number,
                required: false,
                default: 300,
            },
            lang: {
                type: String,
                required: false,
                default: 'zh-TW'
            }
        },

        methods: {
            input(value) {
                this.$emit("input", value);
            },
            upload(file) {
                const vm = this;
                Summernote.upload(file)
                    .then(xhr => {
                        const imgNode = document.createElement('img');
                        const container = document.createElement('div');
                        imgNode.setAttribute('src', '/storage/' + xhr.responseJson.filePath);
                        imgNode.className = 'rounded mx-auto d-block';
                        container.append(imgNode);

                        $(vm.$el).summernote('insertNode', container);
                    })
                    .catch(xhr => {
                        console.log(xhr);
                        alert('上傳失敗');
                    })
            }
        },

        mounted() {
            const vm = this;

            const config = {
                height: this.height,
                lang: this.lang,
                fontNames: $.summernote.options.fontNames.concat("微軟正黑體", "標楷體"),
                toolbar: [["style", ["style"]], ["font", ["bold", "underline", "clear"]], ["fontname", ["fontname"]], ["color", ["color"]], ["para", ["ul", "ol", "paragraph"]], ["table", ["table"]], ["insert", ["link", "picture", "video"]], ["view", ["codeview", "help"]]],
                callbacks: {
                    onImageUpload: function (files) {
                        for (let i = 0; i < files.length; i++) {
                            vm.upload(files[i]);
                        }
                    },
                    onChange: function (value) {
                        vm.input(value);
                    }
                }
            };

            $(this.$el).summernote(config);
        },
        beforeDestroy() {
            $(this.$el).summernote('destroy');
        },
    }
</script>

<style scoped>

</style>
