<template>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">名稱</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <draggable v-model="items" tag="tbody" @end="onEnd">
            <tr v-if="items.length === 0">
                <td colspan="3">還沒有分類標籤哦！ <a :href="this.$attrs.href">開始新增分類標籤</a></td>
            </tr>
            <tr v-else v-for="(item, index) in items" :key="item.id" class="cursor-move">
                <td><i class="mdi mdi-cursor-move"></i></td>
                <td>{{ item.name }}</td>
                <td><a :href="`/admin/tags/${item.id}/edit`">編輯</a></td>
            </tr>
        </draggable>
    </table>
</template>

<script>
    import draggable from "vuedraggable";

    export default {
        props: ['list'],

        components: {
            draggable
        },

        data() {
            return {
                items: []
            }
        },

        watch: {
            list(list) {
                this.items = list
            }
        },

        methods: {
            onEnd() {
                this.$emit('sorted', this.items);
            }
        }
    }
</script>

<style scoped>
    .cursor-move {
        cursor: move;
    }
</style>
