<template>
    <div>
        <header class="relative z-10 flex flex-col md:flex-row md:justify-between md:items-center md:px-3 md:py-3 ">
            <div class="flex justify-between px-3 py-3 md:p-0">
                <div class="font-bold text-lg tracking-wider">
                    <a href="/">台灣亞洲植牙醫學會</a>
                </div>
                <div class="md:hidden">
                    <button type="button" @click="isOpen = !isOpen" class="block text-gray-900 hover:text-green-500 focus:text-green-500 focus:outline-none">
                        <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                            <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
                            <path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <nav class="px-1 pt-3 md:flex md:p-0 md:bg-transparent bg-gray-300" :class="isOpen ? 'block' : 'hidden'">
                <div class="md:flex space-y-1 md:space-y-0">
                    <div :class="activeItem === 'about' ? 'active' : ''">
                        <a class="block px-2 lg:px-6 py-1 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" @click.prevent="toggleActive('about')" href="#about">關於我們</a>
                        <div class="md:absolute hidden border rounded px-4 md:px-0 md:py-2 md:w-40 md:mt-2 md:bg-white md:shadow">
                            <a class="block py-1 md:px-4 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/history">學會沿革</a>
                            <a class="block py-1 md:px-4 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/structure">組織架構</a>
                            <a class="block py-1 md:px-4 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/charter">學會章程</a>
                            <a class="block py-1 md:px-4 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/general-application">入會申請</a>
                        </div>
                    </div>
                    <a class="block px-2 lg:px-6 py-1 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/news">最新消息</a>
                    <a class="block px-2 lg:px-6 py-1 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/events">學術活動</a>
                    <div :class="activeItem === 'doctors' ? 'active' : ''">
                        <a class="block px-2 lg:px-6 py-1 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" @click.prevent="toggleActive('doctors')" href="#doctors">植牙專科醫師</a>
                        <div class="md:absolute hidden border rounded px-4 md:px-0 md:py-2 md:w-40 md:mt-2 md:bg-white md:shadow">
                            <a class="block py-1 md:px-4 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/doctors/search">一般民眾查詢</a>
                            <a class="block py-1 md:px-4 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/fellowship-application">研究員申請</a>
                            <a class="block py-1 md:px-4 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/specialist-application">專科醫師申請</a>
                        </div>
                    </div>
                    <div :class="activeItem === 'contact' ? 'active' : ''">
                        <a class="block px-2 lg:px-6 py-1 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" @click.prevent="toggleActive('contact')" href="#contact">聯絡我們</a>
                        <div class="md:absolute hidden border rounded px-4 md:px-0 md:py-2 md:w-40 md:mt-2 md:bg-white md:shadow">
                            <a class="block py-1 md:px-4 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/contact">聯絡我們</a>
                            <a class="block py-1 md:px-4 rounded font-semibold hover:text-green-600 hover:bg-green-200 md:hover:bg-transparent" href="/faqs">常見問題集</a>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="px-1 pb-3 md:flex md:p-0 md:bg-transparent bg-gray-300" :class="isOpen ? 'block' : 'hidden'">
                <div class="md:flex md:items-center">
                    <a class="block px-2 lg:px-5 py-1 rounded font-semibold hover:text-green-600 md:text-green-500 hover:bg-green-200 md:hover:bg-transparent mt-1 md:mt-0" href="/courses">課程</a>
                    <a class="block px-2 md:px-5 py-1 md:py-2 rounded font-semibold md:hover:text-white md:text-green-500 hover:bg-green-200 md:hover:bg-green-500 mt-1 md:mt-0 md:border border-solid border-green-500 md:rounded-full " href="/profile">會員/學員專區</a>
                    <a class="block px-2 lg:px-5 py-1 rounded font-semibold hover:text-green-600 md:text-green-500 hover:bg-green-200 md:hover:bg-transparent mt-1 md:mt-0" @click.prevent="logout" href="/logout" v-if="this.auth">登出</a>
                </div>
            </nav>
        </header>
        <button v-if="activeItem !== ''" @click="activeItem = ''" class="hidden md:block fixed top-0 left-0 w-full h-full cursor-default"></button>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
                isOpen: false,
                activeItem: ''
            }
        },
        methods : {
            logout() {
                document.getElementById('logout-form').submit()
            },
            toggleActive(target) {
                this.activeItem = (this.activeItem !== target) ? target : ''
            }
        },
        computed : {
            auth() {
                return !!this.user
            }
        }
    }
</script>

<style scoped>
    div.active div {
        display:block;
    }
</style>
