<template>
    <video
            ref="videoPlayer"
            class="video-js vjs-default-skin vjs-fluid vjs-big-play-centered"
            controls
            oncontextmenu="return false"
    >
        <source :src="material.url"
                :type="material.mime_type"/>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
</template>

<script>
    import videojs from 'video.js'
    import zhTW from 'video.js/dist/lang/zh-TW.json';

    export default {
        name: "VideoPlayer",
        props: ['material'],
        data() {
            return {
                player: null
            }
        },
        methods: {
            complete() {
                this.$emit('complete');
            }
        },
        watch: {
            material(target) {
                this.player.src({type: target.mime_type, src: target.url})
            }
        },
        mounted() {
            let vm = this;

            this.player = videojs(this.$refs.videoPlayer, {
                language: 'zh-TW',
                languages: {
                    'zh-TW' : zhTW
                }
            });

            this.player.on('ended', () => {
                vm.complete();
            })
        },

        beforeDestroy() {
            if (this.player) {
                this.player.dispose()
            }
        }
    }
</script>

<style scoped>

</style>
